---
layout: home
title: Home
paginate: 9
indextype: chapters
---

{% assign sorted_chapters = site.chapters | sort: 'order' %}

{% for chapter in sorted_chapters %}
  <h2><a href="{{ chapter.url }}">{{ chapter.title }}</a></h2>
{% endfor %}


{% comment %}
{% for post in paginator.posts %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
{% endfor %}

{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">Previous</a>
{% endif %}

{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">Next</a>
{% endif %}
{% endcomment %}
