.chapters-container {
	padding-top: 0vh;
	padding-left: 2vw;
}
.post-postcontent {
	max-width: 100%;
	text-align: left;
}
.post-posttitle {
	margin-left: 2vw;
	text-align: left;
}
button {
	padding: 10px;
	font-size: 20px;
	flex-shrink: 0;
	color: #000000;
	background: none;
	border-raius: none;
}
table {
	width: 100%;
}
tbody tr:nth-child(even) {
	background-color: none;
} 
